* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
}

/* === HEADER === */

header {
    background: black;
    margin: 10px;
    padding: 10px;
}

.cabecera {  /* Elemento Padre de los div-cabecera */
    background: rgb(33, 35, 116);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.divs-cabecera {
    background: salmon;
    padding: 10px;
    /*margin: 0 10px;*/
    display: inline-block;
}

.logo, .rrss {
    width: 10%;
}

.titulo {
    width: 75%;
}

nav {  /* Elemento Padre del div menú */
    background: orangered;
    padding: 10px 0;
    display: flex;
    margin-top: 10px;
}

.menu {
    background: orange;
    padding: 10px;
    margin: 0 10px;
    display: block;
    width: 100%;
}


/* === MAIN === */

main { /* Elemento Padre de Noticias y Aside */
    background: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.noticias {  /* Article Padre de noticia y last-section */
    background: rgb(33, 35, 116);
    padding: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.noticia {
    background: blue;
    width: 48%;
    margin-bottom: 10px;
    padding: 10px;    
    display: inline-block;  
}

.last-section {
    background: rgb(80, 80, 255);
    width: 100%;   
    margin-bottom: 0px;
}

aside {
    background: rgb(228, 17, 69);
    width: 25%;
    margin-left: 10px;
    padding: 10px;
    display: inline-block;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.seccion-der {
    width: 100%;
    background: yellow;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    display: flex;
}


/* === FOOTER === */

footer {
    background: black;
    padding: 10px;
    margin: 10px;
}

.div-footer {
    background-color: yellowgreen;
    padding: 10px;
}


/* ====== MEDIA QUERY ====== */

@media only screen and (max-width: 600px) {
    
    main {
        background: yellow;
        display: inherit;
    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }

    .noticias {
        width: 100%;
    }

    .div-footer {
        background: orange;
    }

}

@media only screen and (max-width: 320px) {

    /* === HEADER === */

    .cabecera {  /* Elemento Padre de los div-cabecera */
        flex-direction: column;
        padding-bottom: 0;
    }
    
    .divs-cabecera {
        margin-bottom: 10px;
    }
    
    .logo, .rrss {
        width: 100%;
    }
    
    .titulo {
        width: 100%;
    }


    /* === MAIN === */

    main {
        background: rgb(255, 238, 86);
    }

    .noticias {  /* Article Padre de noticia y last-section */
        background: rgb(43, 45, 161);
        width: 100%;
        margin-bottom: 10px;
    }
    
    .noticia {
        background: rgb(70, 70, 209);
        width: 100%;
    }

    .last-section {
        background: rgb(177, 177, 255);;
        margin-bottom: 0;
    }

    aside {
        background: rgb(255, 133, 52);
    }

    .seccion-der {
        background: rgb(255, 176, 124);
    }

}
